header img{
    height: 150px;
}
header{
    text-align: center;
    font-family: "Bungee", sans-serif;
    background-color: dodgerblue;
}
nav{
    margin-top: 10px;
}
nav a{
    text-decoration: none;
    color: #FAB95B;
    padding: 5px 15px;
    font-size: 16px;
}
nav a:hover{
background-color; #D25353;
color: white;
border-radius:10px;
text-shadow:2px 2px 5px rgb(255, 255, 192);
transition: 0.25s;
}